{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/utils.html' as utils %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="/static/css/blog.css">
{% endblock %}

{% block navbar %}{% include 'navbar.html' %}{% endblock %}

{% block content %}
<div class="container main-container auth-container">
  {{ utils.flashed_messages() }}
  <div class="form-card text-center">
    <img src="{{ avatar_url(user) }}" class="profile-avatar">
    <h2>{{ user.username }}</h2>
    <p class="muted-line">{{ user.intro or '这个人还没有填写简介。' }}</p>
    <form method="post" enctype="multipart/form-data" class="avatar-form">
      <div class="form-group text-left">
        <label>更换头像</label>
        <input type="file" name="avatar" accept="image/*" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary btn-block">保存头像</button>
    </form>
  </div>
</div>
{% endblock %}
